---
import '@/styles/global.css'
import StarlightPage, { type StarlightPageProps } from "@astrojs/starlight/components/StarlightPage.astro";
import IconCloudDemo from '@/components/react/interactive-icon-cloud.component'
const API_QUOTES_URL ="https://zenquotes.io/api/random/";

async function getapi(url: string)
{
    try {
        const response = await fetch(url);
        const data = await response.json();
        return data;
    } catch (error) {
        console.error('An error occurred:', error);
    }
}

const  quote =  await getapi(API_QUOTES_URL);
const HOME_PAGE_PROPS : StarlightPageProps = {
    frontmatter: {
        title: 'home',
        template: 'splash',
        hero: {
            title: quote[0].a,
            tagline: quote[0].q,
            image: {
                alt: 'test',
                file: {src: 'src/assets/houston.webp', height: 200, width: 200, format: 'webp'}
            },
            actions: [{text: 'To the blog',
                link: '/blog',
                icon: 'right-arrow'
            }]
                
        }
}
}
---

<StarlightPage
    frontmatter={HOME_PAGE_PROPS.frontmatter}
>
test react
<IconCloudDemo client:load ></IconCloudDemo>
test react 
    <p>{quote[0].q}</p>test
</StarlightPage>