---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<StarlightPage
    frontmatter={{ title: "Home", template: "splash"}}
    headings={[]}
>
    <p>This is a custom homepage</p>
</StarlightPage>

